@charset "utf-8";
/*name="Bruno Gressler da Silveira";*/
body{
    background: linear-gradient(90deg, rgb(105 158 0 / 63%) 0%, rgb(213 70 222 / 65%) 42%, rgb(149 0 255 / 77%) 96%);
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 216px;
}
header{
    height: 9vh;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding: 0.2px 1%;
    background-color: #9c019c;
}
.logo{
    margin-top: -6px;
    margin-left: 2%;
    width: 10%;
    height: 65px;
    float: left;
}
nav{
    height: auto;
    margin: 23px 0;
}
ul{
    width: 54%;
    margin-left: 10%;
}
li{
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
a:link{
    text-decoration: none;
    font-size: 18pt;
    color: #ffffffff;
}
a:visited{
    color: #ffffff;
}
section{
    margin: 0 auto;
    height: auto;   
}
.sessao{
    margin: 0 auto;
    border-color: #5b9230;
    border-width: 10px;
    border-style: solid;
    background-color: #9c019c5c;
    width: 80%;
    height: auto;
    padding: 14px 1%;
}
h2{
    font-size: 32pt;
}
p{
    margin: 0;
}


.galeriaDEFotos{
    width: 20%;
    height: 300px;
    margin: 10px 1%;
    zoom: 1;
}
.galeriaDEFotos:hover{
    transform: scale(1.2);
}

.form{
    border-radius: 6px;
    width: 100%;
    height: 3vh;
    margin-top: 2px;
    margin-bottom: 7px;
    text-align: justify;
}

.cep{
    width: 20%;
    float: left;
}
.zipCode{
    width: 45%;
    float: left;
}
.inputNumeroComplemento{
    width: 15%;
    float: right;
}



.linha{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 10px; 
}
.sessaoCardapio{
    height: 96vh !important;
    width: 51% !important;
    background-color:  #7b297b !important;
    color: #ffffff;
    font-size: 17pt;
}
.cardapioLeft{
    float: left;
    margin-left: 30%;
}
.cardapioRight{
    float: right;
    margin-right: 30%;
}
.botao{
    margin-top: 20px;
    width: 99%;
    height: 4vh;
    border-color: #9c019c5c;
    border-style: outset;
    border-radius: 10px;
    background-color: #b23cc3;
    clear: both;
    line-height: 0;
    font-size: 17pt;
}


.pass:hover{
    text-decoration: underline;
    color: #c78cf3;
}

.input_ok{
    background-color: #5b9230;
    width: 50%;
    text-align: center;
    color: #ffffff;
}
.input_limpar{
    background-color: #843557;
}
.bt{
    background-color: #5d2eda;
    height: 3vh;
    border-radius: 10px;
    border-style: outset;
}

footer{
    margin-top: 248px;
    padding: 47px 3%;
    height: auto;
    bottom: 0;
    position: relative;
    background-color: #9c019ce0;
}
textarea{
    float: inline-start;
    border-radius: 10px;
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
    text-align: justify;
}
iframe{
    width: 56%;
    height: 239px;
}
h3{
    font-size: 18pt;
    color: #ffffffff;
}
.copyright{
    display: block;
    margin-top: 10px;
    color:#ffffff;
    font-size: 9pt;
}
/*desktop com monitores wide screen*/
@media screen and (max-width: 1200px){

}
/*tablets no formato paisagem e alguns monitores mais antigos*/
@media screen and (max-width: 960px){

}
/*tablets no formato retrato*/
@media screen and (max-width: 768px){

}
/*smartphone no paisagem*/
@media screen and (max-width: 480px){

}
@media screen and (max-width: 360px){

}
